<div class="modal__main">
    <div class="modal__title">
        <h2>How it works?</h2>
    </div>
    <div class="modal__video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bCrz03-OJtY" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <div class="modal__paragraph">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, accusantium harum laborum ad incidunt vel
            molestias quo voluptate optio voluptas exercitationem consequuntur blanditiis maiores in aliquam nihil.
            Tenetur,
            quod facere!</p>
    </div>
</div>