<div class="read-more-modal">
    <h2 class="read-more-modal__title">How it works?</h2>
    <div class="read-more-modal__video">
        <iframe src="https://www.youtube.com/embed/bCrz03-OJtY" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <p class="read-more-modal__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, accusantium
        harum laborum ad incidunt vel
        molestias quo voluptate optio voluptas exercitationem consequuntur blanditiis maiores in aliquam nihil.
        Tenetur,
        quod facere!</p>
</div>