.container__slider {
    max-width: 1168px;
    padding-top: 128px;
    margin: 0 auto;
  }
  
  .slider__img {
    margin: 0 auto;
    padding-bottom: 32px;
  }
  .slider__text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.87;
    letter-spacing: 0.04em;
    text-align: center;
  
    background: #84A178;
    border-radius: 24px;
    text-align: center;
    margin: 0 auto;
    padding: 39px 109px;
    color: #FCFCFC;
    max-width: 968px;
  }
  .slider__geo {
    text-align: center;
    color: #131313;
    margin: 32px 0 15px 0;
  }
  
  .slick-dots li button {
    color: #D9D9D9;
  }
  
  .li.slick-active button:before {
    color: #84A178;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
      max-width: 100%;
    }
    .container__slider {
      padding-top: 60px;
    }
    .slider__img {
      padding-bottom: 28px;
    }
    .slider__text {
      padding: 29px 80px;
    }
  }
  @media screen and (max-width: 480px) {
    .container {
      padding-top: 80px;
      max-width: 100%;
    }
    .slider__img {
      padding-bottom: 32px;
    }
    .slider__text {
      padding: 39px 34px;
    }
  }